<div id="up-to-top" class="row">
  <div class="small-12 columns" style="text-align: right;">
    <a class="iconfont" href="#top-of-page">&#xf108;</a>
  </div><!-- /.small-12.columns -->
</div><!-- /.row -->

<footer>
  {% if page.footer == NULL and page.footer.image_fullwidth == NULL and page.footer.pattern == NULL and
  page.footer.background-color == NULL and page.footer.title == NULL %}

  <div id="masthead-no-image-footer">
    <div class="row">
      <div class="small-12 columns">
        <a id="logo" href="{{ '/' | absolute_url }}" title="{{ site.title }} – {{ site.slogan }}">
          <img src="{{ site.url }}{{ site.baseurl }}/assets/img/{{ site.logo }}"
            alt="{{ site.title }} – {{ site.slogan }}">
        </a>
      </div><!-- /.small-12.columns -->
    </div><!-- /.row -->
  </div><!-- /#masthead -->

  {% if page.breadcrumb == true %}
  {% include _breadcrumb.html %}
  {% endif %}





  {% elsif page.footer.title %}

  <div id="masthead-with-text"
    style="{% if page.footer.background-color %}background: {{ page.footer.background-color }};{% endif %} {% if page.footer.image_fullwidth %}{% elsif page.footer.pattern %}background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url('{{ site.urlimg }}/{{ page.footer.pattern }}'){% endif %}">
    <div class="row">
      <div class="small-12 columns masthead-container">
        <div class="masthead-title">{{ page.footer.title }}</div>
      </div><!-- /.small-12.columns -->
    </div><!-- /.row -->
  </div><!-- /#masthead -->

  {% if page.breadcrumb == true %}
  {% include _breadcrumb.html %}
  {% endif %}

  {% if page.footer.caption_url && page.footer.caption %}
  <div class="masthead-caption">
    <a href="{{ page.footer.caption_url }}">{{ page.footer.caption }}</a>
  </div>
  {% elsif page.footer.caption %}
  <div class="masthead-caption">
    {{ page.footer.caption }}
  </div>
  {% endif %}





  {% elsif page.footer.image_fullwidth %}

  <div id="masthead">
  </div><!-- /#masthead -->

  {% if page.breadcrumb == true %}
  {% include _breadcrumb.html %}
  {% endif %}

  {% if page.footer.caption_url && page.footer.caption %}
  <div class="masthead-caption">
    <a href="{{ page.footer.caption_url }}">{{ page.footer.caption }}</a>
  </div>
  {% elsif page.footer.caption %}
  <div class="masthead-caption">
    {{ page.footer.caption }}
  </div>
  {% endif %}





  {% elsif page.footer.pattern %}

  <div id="masthead-with-pattern" style="background: url('{{ site.urlimg }}/{{ page.footer.pattern }}')">
    <div class="row">
      <figure class="small-12 columns">
        <img src="{{ site.urlimg }}/{{ page.footer.image }}" alt="{{ site.title }}">
      </figure><!-- /.small-12.columns -->
    </div><!-- /.row -->
  </div><!-- /#masthead -->

  {% if page.breadcrumb == true %}
  {% include _breadcrumb.html %}
  {% endif %}

  {% if page.footer.caption_url && page.footer.caption %}
  <div class="masthead-caption">
    <a href="{{ page.footer.caption_url }}">{{ page.footer.caption }}</a>
  </div>
  {% elsif page.footer.caption %}
  <div class="masthead-caption">
    {{ page.footer.caption }}
  </div>
  {% endif %}





  {% elsif page.footer.background-color %}

  <div id="masthead-with-background-color" style="background: {{ page.footer.background-color }};">
    <div class="row">
      <figure class="small-12 columns">
        <img src="{{ site.urlimg }}/{{ page.footer.image }}" alt="{{ site.title }}">
      </figure><!-- /.small-12.columns -->
    </div><!-- /.row -->
  </div><!-- /#masthead -->

  {% endif %}

</footer>
