@charset "utf-8";

.masthead-container {
  position: absolute;
  bottom: 0;
  width: auto;
  padding-left: 0;
}

article {
  margin-top: 100px;
}

.caption {
  text-align: center;
  margin-top: 4px;
}
