@charset "utf-8";

a img {
  cursor: zoom-in;
}

h1 {
  padding: 0 0.9375rem;
}

.teaser {
  color: #4083d0;
}
.masthead-container {
  position: absolute;
  bottom: 0;
  width: auto;
  padding-left: 0;
}

article {
  margin-top: 100px;
}

.caption {
  text-align: center;
  margin-top: 4px;
}
